@font-face {
    font-family: my-font;
    src: url(./assests/TWKEverett-Thin.otf);
}
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: my-font;
}
header{
    display: flex;
    align-items: center;
    /* height: 15vh; */
    /* background-color: aqua; */
    justify-content: flex-end; 
    padding: 40px 20px;
}
nav{
    display: flex;
}
nav h1{
    margin-right: 90%;
}
header nav .button{
    height: 40px;
    background-color: #000;
    color: #ffff;
    border-radius: 20px;
    width: 80px;
}
ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    width: 50vw;
    justify-content: space-between;
    font-size: 15px;
}

main right,left{
    width: 50vw;
}
/* main{
    /* width: 70vw;
    background-image: url('./assests/image-1.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right; 
    /* background-size: cover; */
    /* height: 500px; */ 
marquee{
    font-size: 200px;
    font-weight: 500;
}
main .top{
    /* background-color: blueviolet; */
}
main .top h1,h2{
    margin-top: 6vh;
    margin-left:70px;
}
main .center{
    font-size: 30px;
    font-weight: lighter;
    padding: 80px 30px;
    margin-top: 100px;
    text-align: center;
}
main .center button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 20px;
}
main .down{
    font-size: 100px;
    display: flex;   
    justify-content: space-between;
    align-items: end;
}
main .down button{
    height: 40px;
    background-color: #000;
    color: #ffff;
    border-radius: 20px;
    width: 80px;
}
main .end{
    width :350px;
    height:284px;
    display: flex;
}
main .end card img{
    width: 100%;
    border-radius: 30px;
}